@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");




html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    background-color: black;
}

.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav,
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}
.nav_logo,
.nav_link,
.button{    
    color: #fff;
}

.nav_logo {
    font-size: 25px;
}

.nav_item{
    column-gap: 50px;
}


.nav_link:hover {
    color: #d9d9d9;
}

.button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active{
    transform: scale(0.98);
    
}


#map {
    position: fixed;
    height: 100vh;
    padding-top: 0vh;
}


