<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="EU=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Website with Login & Registration Form </title> 
        <link rel="stylesheet" href="../static/loginstyle.css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    </head>

    <body>
        <header class="header">
            <nav class="nav">
                <a href="#" class="nav_logo">Spot</a>

                <ul class="nav_items">
                    <li class="nav_item">
                        <a href="login.html" class="nav_link">Home</a>
                        <a href="#" class="nav_link">About</a>
                        <a href="#" class="nav_link">Contact</a>
                        <a href="#" class="nav_link">Map</a>
                    </li>
                </ul>
                
                <button class="button"> Login </button>
            </nav>
        </header>

        <section class="home">
            <div class="form_container">
                <!-- Signup Form-->
                <div class="form signup_form">
                    <form action="#">
                        <h2>Reset Password</h2>
                    
                    <div class="input_box">
                        <input type="email" placeholder="Enter your account email" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>


                    

                    <button class="button">Send Email</button>

                    <div class="login_signup">
                        Already have an account? <a href="login.html" id="signup"> Login</a>
                    </div>



                    </form>
                    
                </div>

            </div>
        </section>