<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="EU=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Website with Login & Registration Form </title> 
        <link rel="stylesheet" href="../static/loginstyle.css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    </head>

    <body>
        <header class="header">
            <nav class="nav">
                <a href="login" class="nav_logo">Spot</a>

                <ul class="nav_items">
                    <li class="nav_item">
                        <a href="login" class="nav_link">Home</a>
                        <a href="profile" class="nav_link">Profile</a>
                        <a href="map" class="nav_link">Map</a>
                    </li>
                </ul>
                
                <button class="button" id="form-open"> Login </button>
            </nav>
        </header>

        <section class="home">
            <div class="form_container">
                <i class="uil uil-times form_close"></i>
                
                <!-- Login Form -->
                <div class="form login_form">

                    <form method = "POST" >
                        <h2>Login</h2>

                    <div class="input_box">
                        <input type="name" name="username" placeholder="Enter your username" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>
                    

                    <div class="input_box">
                        <input type="password" name="password" placeholder="Enter your password" required/>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <div class="option_field">
                        <span class="checkbox">
                            <!-- <input type="checkbox" id="check"> -->
                            <label for="check">Rememeber me</label>

                        </span>
                        <a href="forgotpassword.html" class="forgot_pw">Forgot password?</a>
                    </div>

                    <!-- <button class="button">Login Now</button> -->

                    <div class="login_signup">
                        Don't have an account? <a href="#" id="signup"> Register</a>
                    </div>

                    <input type = "submit" value = "submit"/>
                    </form>
                    
                </div>


                <div class="form signup_form">

                    

                    <form method="POST" >
                        <h2>Register</h2>
                    
                    <div class="input_box">
                        <input type="name" name="username" placeholder="Enter your username" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>

                    <div class="input_box">
                        <input type="password" name="password" placeholder="Create your password" required/>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <!-- <div class="input_box">
                        <input type="password" placeholder="Confirm your password" required/>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div> -->

                    

                    <button class="button">Create Account</button>

                    <div class="login_signup">
                        Already have an account? <a href="#" id="login"> Login</a>
                    </div>

                    <input type = "submit" value = "submit"/>
                    </form>
                    
                </div>


            </div>
        </section>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>