<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="EU=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Spot </title> 
        <link rel="stylesheet" href="../static/mapstyle.css">
    </head>

    <body>





        <!-- <h1> Welcome to the Spot Map</h1> -->



        <header class="header">
            <nav class="nav">
                <a href="login" class="nav_logo">Spot</a>

                <ul class="nav_items">
                    <li class="nav_item">
                        <a href="login" class="nav_link">Home</a>
                        <a href="profile" class="nav_link">Profile</a>
                        <a href="map" class="nav_link">Map</a>
                    </li>
                </ul>
                
                <button class="button" id="form-open"> Login </button>
            </nav>
        </header>

        <div id="map"></div>

        <script src="../static/mapscript.js"></script>
        <script 
            src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDJdf0r5PhxboZYiVBKpEf-ZOjytDLbvvw&map_ids=d4e922012220403a&callback=initMap">
        </script>

    </body>
</html>

