<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="EU=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Website with Login & Registration Form </title> 
        <link rel="stylesheet" href="../static/profile.css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    </head>

    <body>
        <header class="header">
            <nav class="nav">
                <a href="login" class="nav_logo">Spot</a>

                <ul class="nav_items">
                    <li class="nav_item">
                        <a href="login" class="nav_link">Home</a>
                        <a href="profile" class="nav_link">Profile</a>
                        <a href="map" class="nav_link">Map</a>
                    </li>
                </ul>
                
                <button class="button" id="form-open"> Login </button>
            </nav>
        </header>


        <!-- <section class="home"> -->

            <div class="container">
                <div class="profile-box">
                    <img src="../static/menu.jpg" class="menu-icon">
                    <img src="../static/setting.jpg" class="setting-icon">
                    <img src="../static/profile.jpg" class="profile-pic">"
                    <h3> Firstname Lastname</h3>
                    <p>Spot Member</p>
                
                    <button type="button-two"> Follow </button>
                    <div class="profile-bottom">
                        <div class="followers">
                            <p> <b>Followers</b></p>

                            <div class="followercount">
                                <p> 15 </p>
                            </div>

                        </div>


                        <div class="following">
                            <p> <b>Following</b></p>

                            <div class="followingcount">
                                <p> 20 </p>
                            </div>

                        </div> 

                    </div>
                
                </div>

                

            </div>

            

        <!-- </section> -->


    </body>

</html>
